@inherits LayoutComponentBase

<div class="min-h-screen grid place-items-center bg-[radial-gradient(60%_60%_at_15%_20%,#A7CCED_0%,rgba(167,204,237,0)_60%),radial-gradient(60%_60%_at_85%_30%,#82A0BC_0%,rgba(130,160,188,0)_60%),#F8FCEE] p-6">
    @Body
</div>






