/* All styles have been converted to Tailwind CSS utility classes */
/* Custom color palette:
   - Light Blue Gray: #A2B9CD
   - Platinum: #E0E0E0
   - Uranian Blue: #A7CCED
   - YInMn Blue: #304D6D
   - Air Superiority Blue: #82A0BC
*/
